<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">
		h1{
			font-size: 64px;
			text-align: center;
		}
		img {

			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.center-text{
			text-align: center;
		}
		#best-text{
			color: orange;
		}
	</style>
	<title>연습용 웹사이트</title>
</head>
	<body>
		<h1> My 1st page </h1>
		<p id="best-text"> hihihihihihihihihihi
		<a href="https://google.com"
		target="_blank">구글로 가볼까</a></p>
		<p class="center-text">중앙으로가는 클래스를 시험</p>
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi8sTwwX2
		2p9l0nz43jBSvHw4dlqMxU7XFDg&usqp=CAU"
		height="200"  >
	</body>
</html>
